<footer id="footer" class="container">
        <div class="row">
            <div class="col-6 col-12-medium imp-medium">

                <!-- About -->
                <section>
                    <h2><strong>Довідник покупця</strong> by LPCo0l</h2>
                    <p>
                        Це <strong>Довідник покупця</strong>, безкоштовний, адаптивний веб-сайт
                        від <a href="https://www.linkedin.com/in/lpco0l/">LPCo0l</a>.
                    </p>
                    <a href="#" class="button alt icon solid fa-arrow-circle-right">Дізнатись більше</a>
                </section>
            </div>
            <div class="col-6 col-12-medium imp-medium">
                <!-- Contact -->
                <section>
                    <h2>На зв'язку</h2>
                    <div>
                        <div class="row">
                            <div class="col-6 col-12-small">
                                <dl class="contact">
                                    <dt>Twitter</dt>
                                    <dd><a href="#">tw</a></dd>
                                    <dt>Facebook</dt>
                                    <dd><a href="#">fb</a></dd>
                                    <dt>WWW</dt>
                                    <dd><a href="#">www.ua</a></dd>
                                    <dt>Email</dt>
                                    <dd><a href="#">user@gmail.com</a></dd>
                                </dl>
                            </div>
                            <div class="col-6 col-12-small">
                                <dl class="contact">
                                    <dt>Адреса</dt>
                                    <dd>
                                        Тут могла бути Ваша адреса
                                    </dd>
                                    <dt>Телефон</dt>
                                    <dd>(000) 000-0000</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-12">
                <div id="copyright">
                    <ul class="menu">
                        <li>&copy; @Config.CompanyName. All rights reserved</li>
                        <li>Design: Liubomyr Pereshliuga</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>