<div id="header-wrapper">
    <div class="container">

        <!-- Header -->
        <header id="header">
            <div class="inner">

                <!-- Logo -->
                <h1><a asp-area="" asp-controller="Home" asp-action="Index" id="logo">@Config.CompanyName</a></h1>

                <!-- Nav -->
                <nav id="nav">
                    <ul>
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Головна</a></li>
                        <li><a asp-area="" asp-controller="Services" asp-action="Index" asp-route-id="">Каталог</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Contacts">Контакти</a></li>
                    </ul>
                </nav>

            </div>
        </header>

    </div>
</div>