<div id="header-wrapper" style="height: 100vh;">
    <div class="container">

        <!-- Header -->
        <header id="header">
            <div class="inner">
                <!-- Logo -->
                <h1><a asp-area="" asp-controller="Home" asp-action="Index" id="logo">Довідник покупця</a></h1>

                <!-- Nav -->
                <nav id="nav">
                    <ul>
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Головна</a></li>
                        <li><a asp-area="" asp-controller="Services" asp-action="Index" asp-route-id="">Каталог</a></li>
                        <li><a asp-area="" asp-controller="Categories" asp-action="Index" asp-route-id="">Категорії</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Contacts">Контакти</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <!-- Banner -->
        <div id="banner">
            <h2 style="color: white; border-radius: 10px; background: rgba(0, 0, 0, 0.4); padding: 0.75em;">
                Веб-сайт товарів у магазинах Вашого міста
            </h2>
        </div>

    </div>
</div>