@model IQueryable<CategoryItem>
@{
    TextField textField = ViewBag.TextField;

    ViewBag.Title = textField.MetaTitle;
    ViewBag.Description = textField.MetaDescription;
    ViewBag.Keywords = textField.MetaKeywords;
}

<div style="display: flex; flex-wrap: wrap;">
    @if (Model.Any())
    {
        <ul class="big-image-list" style="display: flex; flex-wrap: wrap; justify-content: space-between;">
            @foreach (CategoryItem entity in Model)
            {
                <li>
                    <h4>@entity.Category</h4>
                    <p>Категорія: @entity.CategoryDescription</p>
                </li>
            }
        </ul>
    }
</div>