@model IQueryable<ShopItem>
@{
    TextField textField = ViewBag.TextField;

    ViewBag.Title = textField.MetaTitle;
    ViewBag.Description = textField.MetaDescription;
    ViewBag.Keywords = textField.MetaKeywords;
    Layout = "_LayoutWithHeader";
}
<article>
    <header class="major">
        <h2 class="center">Магазини</h2>
    </header>
</article>
<div class="flex-div">
    @if (Model.Any())
    {
        <ul class="big-image-list flex-ul">
            @foreach (ShopItem entity in Model)
             {
             <li class="li-card">
                 <div class="div-card">
                <a asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="@entity.Id">
                    <img src="~/images/@entity.TitleImagePath" alt="" class="left"/>
                </a>
                     </div>
                <h4 class="center">@entity.Title</h4>
                <p>@entity.Description</p>
             </li>
             }
        </ul>
    }
</div>