@model IQueryable<CategoryItem>
@{
    TextField textField = ViewBag.TextField;

    ViewBag.Title = textField.MetaTitle;
    ViewBag.Description = textField.MetaDescription;
    ViewBag.Keywords = textField.MetaKeywords;
}
<article>
    <header class="major">
        <h2 style="text-align:center">Категорії</h2>
    </header>
</article>
<div style="display: flex; flex-wrap: wrap;">
    @if (Model.Any())
    {
        <ul class="big-image-list" style="display: flex; flex-wrap: wrap; justify-content: space-evenly;">
            @foreach (CategoryItem entity in Model)
            {
            <li style="margin-bottom: 2em; padding: 0.5em; border: 1px solid rgba(0,0,0,.125); border-radius: 0.25rem;">
                <div style="width: 350px; height: 350px; display: flex; justify-content: center; margin: 0 auto">
                <a asp-area="" asp-controller="Categories" asp-action="Index" asp-route-id="@entity.Id">
                    <img src="~/images/@entity.TitleImagePath" alt="" class="left" style="height: 100%; max-width: 100%"/>
                </a>
                    </div>
                <h4 style="text-align:center;">@entity.Title</h4>
                <p>@entity.Description</p>
            </li>
            }
        </ul>
    }
</div>