@using System.Web;
@using System.IO;
@using System.Drawing;
@model IQueryable<CategoryItem>
@{
    TextField textField = ViewBag.TextField;

    ViewBag.Title = textField.MetaTitle;
    ViewBag.Description = textField.MetaDescription;
    ViewBag.Keywords = textField.MetaKeywords;
}
<article>
    <header class="major">
        <h2 class="center">Категорії</h2>
    </header>
</article>
<div>
    @if (Model.Any())
    {
        <ul class="big-image-list flex-ul">
            @foreach (CategoryItem entity in Model)
            {
                string imageBase64DataService = Convert.ToBase64String(entity.TitleImagePath);
                string imageDataURLService = string.Format("data:image/jpg;base64,{0}", imageBase64DataService);
                <li class="li-card">
                    <div class="div-card">
                        <a asp-area="" asp-controller="Categories" asp-action="Index" asp-route-id="@entity.Id">
                            <img src="@imageDataURLService" alt="" class="left" />
                        </a>
                    </div>
                    <h4 class="center">@entity.Title</h4>
                    <p>@entity.Subtitle</p>
                </li>
            }
        </ul>
    }
</div>