@model IQueryable<CategoryItem>
@{
    TextField textField = ViewBag.TextField;

    ViewBag.Title = textField.MetaTitle;
    ViewBag.Description = textField.MetaDescription;
    ViewBag.Keywords = textField.MetaKeywords;
}

<div style="display: flex; flex-wrap: wrap;">
    @if (Model.Any())
    {
        <ul class="big-image-list" style="display: flex; flex-wrap: wrap; justify-content: space-between;">
            @foreach (CategoryItem entity in Model)
            {
            <li>
                <a asp-area="" asp-controller="Categories" asp-action="Index" asp-route-id="@entity.Id">
                    <img src="~/images/@entity.TitleImagePath" alt="" class="left" style="width: 350px; height: 350px" />
                </a>
                <h4>@entity.Title</h4>
                <p>@entity.Description</p>
            </li>
            }
        </ul>
    }
</div>